@import url(../../global.css);

.container-colecao {
    width: 100%;
}

.header-container-colecao {
    width: 100%;
}

.header-container-colecao div {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.header-container-colecao div select {
    padding: 10px 30px;
    border: 1px solid #dcdcdc;
}

.container-colecao-cards {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 5px;
    flex-wrap: wrap;

}

.card {
    border-radius: 10px;
    
    width: min(250px, 100%);
    height: 350px;
    background:url(../../assets/cards/Monkey\ D.\ Luffy.png);
    background-position: center;
    background-size: cover;
    display: flex;
}
.card .info{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 2rem;
background-color:#e345507c;
    align-self: flex-end;
}
.card .info h3{
    color: var(--secondary-100);
}
.card .info h4{
    color: var(--yellow-500);
}
.card .info .tag-tripulacao{
    padding: 5px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    color: var(--secondary-200);
    background-color: #1d1d1d75;
}