@import url(../../global.css);

body {
    background-color: #f3f3f3;
}

.container-colecao {
    width: 100%;
    min-height: 80vh;
}

.header-container-colecao {
    width: 100%;

}

.header-container-colecao h1 {
    text-align: center;

}

.header-container-colecao .container-filtros {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.container-filtros .selectFiltro {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border: none;
    border: 2px solid var(--secondary-100);
    border-radius: 10px;
}

.container-filtros .selectFiltro:focus {
    outline: none;
    box-shadow: 0px .8rem .1rem var(--secondary-100);
    -webkit-box-shadow: 0px 0px .8rem .1rem var(--secondary-100);

}

.container-colecao-cards {

    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    overflow: hidden;
}

.card {
    position: relative;
    border-radius: 10px;
    border: 5px solid #dcdcdc;
    background: #dcdcdc;
    width: min(300px, 100%);
    background-position: center;
    background-size: cover;
    display: flex;
    transition: .5s ease-in-out;
}


.card:hover {
    box-shadow: 0px .8rem .2rem var(--secondary-200);
    -webkit-box-shadow: 0px 0px .8rem .2rem var(--secondary-200);
    transform: translateY(-10px);
}


.card img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}



.card .info {

    position: absolute;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    flex-direction: column;
    gap: 1.5rem;
    display: flex;
    padding: 1rem;
    background-color: #f3f3f3c9;
    align-self: flex-end;
}

.card .info h3,
h4 {
    font-size: 1.2rem;
    text-align: center;
    color: var(--secondary-900);
}


.card .info .tag-tripulacao {
    font-size: .8rem;
    border-radius: 20px;
    display: flex;

    justify-content: center;
    color: var(--secondary-400);
    font-weight: bold;
}

.card .info .header-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: flex-start;
}

.btn-add {
    position: absolute;
    top: .5rem;
    left: .5rem;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    display: none;
    font-size: 1.5rem;
    color: var(--secondary-100);
    font-weight: bold;
    cursor: pointer;
    transition: .4s ease-in-out;
    border: 2px solid var(--blue-500);

    background: var(--blue-500);
}

.btn-add:hover {
    border: 2px solid var(--blue-500);

    background: var(--blue-500);
}

.btn-remove {
    top: .5rem;
    right: .5rem;
    display: none;
    position: absolute;
    align-self: flex-start;
    justify-self: flex-end;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 1.5rem;
    transition: .4s ease-in-out;
    color: var(--secondary-100);
    font-weight: bold;
    cursor: pointer;
    border: 2px solid var(--red-500);

    background-color: var(--red-500);
}

.btn-remove:hover {
    border: 2px solid var(--red-500);

    background-color: var(--red-500);
}