@import url(../../global.css);


.container-main {
    background-color: var(--secondary-100);
}

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.left-side {
    padding: 25px;
    border-radius: 10px;
    width: min(400px, 100%);
    background-color: #f7f7f765;
}

.form-default .input-box {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: 20px 0px 20px 0px;
}

.form-default .btn {
    display: block;
    text-align: center;
    width: 100%;
    background-image: linear-gradient(to right, var(--blue-500), var(--blue-200));
}

.input-box label {
    font-size: 1rem;
    font-weight: normal;
}

.input-box input {
    width: 100%;
    padding: 15px;
    border-radius: 18px;
    border: none;
    outline: none;
    transition: .5s;
    font-size: 1rem;
    background: var(--secondary-100);
}

.input-box input:focus {
    outline: 2px solid var(--blue-400);
}

.input-box ::placeholder {
    color: var(--secondary-400);
}