@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

:root {
    --white: #f7f7f7;
    --blue-100: #CFEEFB;
    --blue-200: #A1DAF7;
    --blue-300: #6FB9E9;
    --blue-400: #4996D3;
    --blue-500: #1868B7;
    --blue-600: #11509D;
    --blue-700: #0C3C83;
    --blue-800: #072A6A;
    --blue-900: #041D57;

    --red-100: #FDE4DA;
    --red-200: #FCC4B5;
    --red-300: #F69B8F;
    --red-400: #EE7571;
    --red-500: #E3454F;
    --red-600: #C33248;
    --red-700: #A32242;
    --red-800: #83163A;
    --red-900: #6C0D35;

    --yellow-100: #FDF8D5;
    --yellow-200: #FCF1AC;
    --yellow-300: #F8E482;
    --yellow-400: #F1D561;
    --yellow-500: #E8C130;
    --yellow-600: #C7A123;
    --yellow-700: #A78218;
    --yellow-800: #86650F;
    --yellow-900: #6F5009;


    --secondary-100: #DEE8F6;
    --secondary-200: #C0D1EE;
    --secondary-300: #91A5CD;
    --secondary-400: #63749B;
    --secondary-500: #2E3A59;
    --secondary-600: #212C4C;
    --secondary-700: #172040;
    --secondary-800: #0E1533;
    --secondary-900: #080E2A;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--secondary-800);
}

/* a */
a {
    padding: 15px;
    border-radius: 20px;
    transition: 0.5s ease;
    color: var(--secondary-800);
    font-weight: bold;
}

.nav ul li a:hover {
    color: var(--secondary-800);
    background-color: var(--blue-100);
}

/* BTN´S  */
.btn {
    font-family: 'Poppins';
    font-weight: bold;
    border: none;
    background: transparent;
    border-radius: 20px;
    padding: 15px;
    text-transform: none;
    transition: 0.5s ease;
    cursor: pointer;
}

.btn-yellow {
    color: #1435D9;
    background-color: #FFE01F;
}

.btn-white {
    color: #1d1d1d;
    background-color: #f3f3f3;
}

.btn-blue {
    color: var(--white);
    background-color: var(--blue-500);
}

.btn-blue:hover {
    box-shadow: 0 5px 15px var(--blue-200);
}




.wrapper {
    width: 90vw;
    margin: 0 auto;
}



/* HEADER */

.header-main {
    width: 100%;
    padding: 10px 0px;
    min-height: 10vh;
    background-color: #f7f7f77e;
    position: sticky;
    top: 0;
}

.container-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
}

.logo img {
    width: 60px;
}

.logo a {
    padding: 0px;
}

.container-header .nav {
    display: flex;
    align-items: center;
    gap: 20px;

}

.container-header .nav ul {
    display: flex;
    align-items: center;
    color: #646464;
    gap: 20px;
}

.container-header .nav .btn-menu {
    background: transparent;
    border: none;
    padding: 10px;
    outline: none;
    cursor: pointer;
    transition: 0.7s ease;
}

.container-header .nav .btn-menu:hover {
    background-color: #646464;


}

.container-header .nav .btn-menu img {
    width: 30px;
}

/* FOOTER */

footer {
    margin: 50px 0px 0px 0px;
    background-color: var(--blue-700);
}

.container-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 20vh;
}

.container-footer .left-side {
    width: min(500px, 100%);
    height: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}



.container-footer .left-side h2 {
    color: var(--white);

}

.container-footer .left-side p {
    color: var(--white);

}

.container-footer .right-side {
    width: min(500px, 100%);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.container-footer .right-side h2 {
    color: var(--white);
}

.container-footer .right-side .nav ul {
    gap: 20px;
    display: flex;
}