@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins';
}

/* BTN´S  */
.btn {
    font-family: 'Poppins';
    font-weight: bold;
    border: none;
    background: transparent;
    border-radius: 15px;
    padding: 15px;
}

.btn-yellow {
    color: #1435D9;
    background-color: #FFE01F;
}




.inicial {
    background: #646464;
    background: url(assets/images/bg-banner-mugiwara.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.wrapper {
    width: min(1000px, 90vw);
    margin: 0 auto;
}



/* HEADER */

.header-main {
    width: 100%;
    padding: 10px 0px;
    min-height: 10vh;
}

.container-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
}

.logo img {
    width: 60px;
}

.container-header .nav {
    display: flex;
    align-items: center;
    gap: 20px;

}

.container-header .nav ul {
    display: flex;
    align-items: center;
    color: #646464;
    gap: 20px;
}

.container-header .nav .btn-menu {
    background: transparent;
    border: none;
    padding: 10px;
    outline: none;
    cursor: pointer;
    transition: 0.7s ease;
    display: none;
}

.container-header .nav .btn-menu:hover {
    background-color: #646464;


}

.container-header .nav .btn-menu img {
    width: 30px;
}


/* SIDE MENU */

.side-menu {
    position: absolute;
    transition: 0.7s ease;
    padding: 20px;
    right: 0;
    transform: translate(100%, 0);
    width: min(400px, 100%);
    height: calc(100vh - (10vh + 20px));
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}


.side-open {
    transform: translate(0);
}

.container-banner {
    width: 100%;
    height: calc(100vh - (10vh + 20px));
    display: flex;
    align-items: center;
}

.content-text-banner {
    width: min(400px, 90%);
}

.content-text-banner .title-banner {
    color: #f3f3f3;
    -webkit-text-stroke: 1px #1d1d1d;
    font-size: 50px;
}




/* TESTE */

.teste {
    background-image: url(assets/images/bg-banner-home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 500px;
    transition: 0.7s;
    display: none;
}

.teste:hover {
    background: url(https://thumbs.gfycat.com/HairyGargantuanDromedary-size_restricted.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media(max-width:720px) {
    .container-header .nav .btn-menu {

        display: block;
    }

    .side-open {
        width: 100vw;
        transform: translate(0);
    }
}