@import url(global.css);

body {
    background-color: var(--secondary-100);

}

.inicial {
    background: linear-gradient(to bottom, var(--white), var(--secondary-100));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.container-banner {
    width: 100%;
    height: calc(100vh - (10vh + 20px));
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-text-banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: min(500px, 90%);
    gap: 20px;
}

.content-text-banner .title-banner {
    color: var(--secondary-800);
    font-size: 50px;
}

.content-text-banner .title-banner span {
    color: var(--blue-400);
    font-size: 50px;
}

.content-text-banner p {
    color: var(--secondary-500);
    font-size: 20px;
}

.content-img {
    width: 420px;
}

.content-img img {
    width: 100%;
}


/* ANUNCIO Card Game  */

.cardgame {
    margin: 50px 0px 50px 0px;
}



.container-cardgame {
    background: url(assets/images/bg-banner-home.jpg);
    background-position: center;
    width: 100%;
    padding: 50px 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-cardgame .left-side h2,
h3 {
    color: var(--secondary-100);
}

.container-cardgame .right-side span {
    color: var(--secondary-800);
    background-color: var(--blue-100);
    border-radius: 20px;
    padding: 15px;
    font-weight: bold;
}



/* Colections */

.colecoes {
    background-color: var(--secondary-100);
    width: 100%;
}

.container-colecoes {
    display: flex;
    flex-wrap: wrap;
}

.container-colecoes .header-colecoes {
    background-color: var(--secondary-100);
    position: sticky;
    top: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-colecoes .container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.container-cards .card {
    border-radius: 20px;
    width: min(350px, 100%);
    height: 400px;
    background-color: var(--blue-400);
    display: flex;
    padding: 15px;
    justify-content: center;
}

.container-cards .card h3 {
    color: var(--white);
}

.container-cards .card.mugiwara {
    background-color: var(--red-600);
    background-image: url(assets/icons/logo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.container-cards .card.heart {
    background-color: var(--yellow-500);
    background-image: url(assets/icons/jollyroger-heart.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.container-cards .card.marine {
    background-color: var(--white);
    background-image: url(assets/icons/marine-logo.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

}

.card.marine h3 {
    color: var(--blue-500);
}